# release keystore information
releaseStoreFile=_keystore/release.jks
releaseStorePassword=<release-pass>
releaseKeyAlias=<release-alias>
releaseKeyPassword=<release-pass>

# debug store information
debugStoreFile=_keystore/debug.jks
debugStorePassword=<debug-pass>
debugKeyAlias=<debug-alias>
debugKeyPassword=<debug-pass>
